@{
    ViewData["Title"] = "Enrolamiento";
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutHeader"] = true;
}
<link href="@Url.Content("~/css/enrol.css")" rel="stylesheet" type="text/css" />

@using AspStudio.Models;

<!-- Estilos usados en diferentes partes de la página -->

<style>
    #Encabezado {
        background-color: #025700;
        opacity: 0.90;
        padding: 5%;
        width: 100%;
    }

    #LetrasTituloEncabezado {
        position: relative;
        text-align: center;
        color: white;
        font-size: 26px;
    }

    #LetrasEncabezado {
        position: relative;
        text-align: justify;
        color: white;
    }

    #contenido {
        align-items: center;
        width: 80%;
        position: relative;
        margin: 0px auto;
        padding: 0px 0px 0px 0px;
    }

    .imagenindex {
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 0px;
        position: relative;
    }

    .img {
        width: 215px;
        height: 260px;
        display: none;
    }

    .img img {
        height: 100%;
        width: 100%;
    }
    .spinner-border {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 10px;

    }    
    #content {
        margin: 0;
        padding: 0;
        display: flex;
        height: 100vh;
        background-image: linear-gradient(to right, #0b1654, #1d1e6e);
    }
    
    input[type=number] {
        -moz-appearance: textfield;
    }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
</style>

<body>
    <div id="initial-container">
        <div class="left-container">
            @* <video id="video" muted autoplay loop poster="http://media.w3.org/2010/05/sintel/poster.png">
                <source id="mp4" src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4">
                <source id="webm" src="http://media.w3.org/2010/05/sintel/trailer.webm" type="video/webm">
                <source id="ogv" src="http://media.w3.org/2010/05/sintel/trailer.ogv" type="video/ogg">
                <p>Your user agent does not support the HTML5 Video element.</p>
            </video> *@
            <div id="step-1">
    
                <div class="logo">
                 <img id="logo" src="~/img/logo-ecopetrol.svg" alt="Ecopetrol">
                </div><!-- .logo-->
                <div class="heading">
                    <span class="bold">SÚMATE A</span>
                    <span>NUESTRO DESAFÍO</span>
                    <span class="bold">NUEVO NORMAL</span>
                </div><!-- .heading-->
                <div class="buttons">
                    <button onclick="showEnrolForm()" class="enrol">ENROLARME</button>
                    @* <button class="enroled">YA ME ENROLÉ</button> *@
                </div><!-- .buttons-->
            </div><!-- #step-1 -->
            <div id="enrol-form">
                <div class="form-heading">
                    @* <img src="~/img/registro.svg" id="registro" alt="Ecopetrol"> *@
                    <span>INICIA TU REGISTRO</span>
                    <span class="bold">
                        BIOMÉTRICO
                    </span>
                </div><!-- .form-heading -->
                <div class="form-container">
                    <form autocomplete="off" enctype="multipart/form-data" id="formuploadenrol" method="post">
                        <!-- Nombres -->
                        <div class="input-container">
                            <span class="required">Nombres</span>
                            <input placeholder="Ingresa nombres completos:" autocomplete="off" required title="Nombres completos" data-toggle="tooltip" data-placement="right" name="Firstname" id="Firstname" />
                        </div>
                        <!-- Apellidos -->
                        <div class="input-container">
                            <span class="required">Apellidos</span>
                            <input placeholder="Ingresa tus apellidos:" autocomplete="off" required title="Apellidos completos" data-toggle="tooltip" data-placement="right" name="LastName" id="LastName" />
                        </div>
                        <!-- Nro empleado -->
                        <div class="input-container">
                            <span class="required">N. de empleado</span>
                            <input placeholder="Ingresa el número de empleado:" autocomplete="off" required type="text" onkeyup="this.value=this.value.replace(/[^\d]/,'')" title="Número de carné de Ecopetrol" data-toggle="tooltip" data-placement="right" name="Badge_id" id="Badge_id" />
                        </div>
                        <!-- Tipo de Documento -->
                        <div class="input-container">
                            <span class="required">Tipo Documento</span>
                            <select required name="tipdoc" id="tipdoc">
                                <option value="" data-token=""> Selecciona </option>
                                <div class="dropdown-menu" role="menu">
                                    @foreach (dynamic Tipodoc in ViewBag.tiposdoc)
                                    {
                                        <option value="@Tipodoc.codigo">@Tipodoc.descripcion</option>
                                    }
                                </div>
                            </select>
                        </div>
                        <!-- Numero Documento -->
                        <div class="input-container">
                            <span class="required">Nro. Documento</span>
                            <input placeholder="Ingresa el número de documento:" autocomplete="off" required type="text" title="Número de documento de identidad" data-toggle="tooltip" data-placement="right" name="Documento" id="Documento" onkeyup="this.value=this.value.replace(/[^\d]/,'')" />
                        </div>
                        <!-- Link a condiciones -->
                      
                        <!-- Aceptar -->
                        @* <div class="check-container">
                            <div class="form-check">
                                <input onclick="showTerms()"  type="checkbox" class="form-check-input" id="check-container">
                                <label class="form-check-label" for="check-container">
                                </label>
                            </div>
                            <a onclick="showTerms()" id="conditions-link">
                                ACEPTAR POLÍTICA DE TRATAMIENTO DE DATOS, TÉRMINOS Y CONDICIONES.
                            </a>
                        </div> <!-- .check-container --> *@

                         <div id="continue-submit" class="buttons">
                            <button onclick="showTerms()" type="button" class="enrol">CONTINUAR
                            </button>
                        </div><!-- .buttons-->

                    </form> <!-- #formuploadenrol -->
                </div><!-- .form-container -->
            </div><!-- #enrol-form -->
            <div id="terms-container">
                <div>
                    @foreach (dynamic texto in ViewBag.TextoValidacion)
                    {
                        <h5>@texto.Pregunta</h5>
                        <p align="justify">
                            <h5 style="color:red" align="left"><font size="3"> Ver. @texto.Version</font></h5>
                            <font size="4"> @texto.Texto</font>
                        </p>

                        <p id="textoLargo"></p>
                        <p>
                            <input onclick="acceptTerms('@texto.Version', '@texto.Tipo', true)" required type="radio" name=@texto.Tipo value="Si"> Si acepto
                            <input class="text-type" onclick="acceptTerms('@texto.Version', '@texto.Tipo', false)" required type="radio" name=@texto.Tipo value="No"> No acepto

                            <br />
                            <br />
                        </p>
                    }
                     <div class="buttons">
                            <button onClick="hideTerms()" class="enrol">CONTINUAR
                                <div id="enrol-spinner" class="spinner-border text-primary" role="status">
                                </div>
                            </button>
                        </div><!-- .buttons-->
                </div>
            </div><!--#terms-container-->
        </div><!-- .left-container-->
    
        <div class="right-container">
            <img src="~/img/right-img.png" alt="">
        </div><!-- .right-container-->
    </div><!--#initial-container -->
    <div id="infographics-container">
        <div class="infographics">
            <div class="infographics-content">
                <img src="~/img/infografia.png" alt="Ecopetrol">
            </div><!-- infographics-content -->
            <div class="infographics-footer">
                 <div class="buttons">
                    <button onclick="showPhotoContainer()" class="enrol">¡LO TENGO!</button>
                </div><!-- .buttons-->
            </div> <!-- infographics-footer -->
        </div><!-- infographics !-->
    </div><!-- #infographics-container -->
    <div id="photo-container">
        <div class="photo-selection">
            <div id="preview" class="img"></div>
            <div id="photo-error"></div>
            <div id="select-photo-btn" class="buttons">
                <button onclick="selectFile('file')" class="enrol">SUBIR FOTO</button>
                <button onclick="selectFile('file-cam')" class="enroled mobile">TOMAR FOTO</button>
                <button onclick="toggleCam()" class="enroled desktop">TOMAR FOTO</button>
            </div><!-- .buttons-->
            <div id="upload-photo-btn" class="buttons">
                <form enctype="multipart/form-data" id="formuploadajax" method="post">
                    <input class="hidden-input" accept="image/*" capture="camera" name="file" id="file-cam" type="file" />
                    <input class="hidden-input" accept="image/*" name="file" id="file" type="file" />
                    <button type="button" onclick="submitPhoto()" class="enroled">CONTINUAR
                        <div id="photo-spinner" class="spinner-border text-primary" role="status">
                        </div>
                    </button>
                </form><!-- .formuploadajax -->
            </div><!-- .buttons-->
        </div><!-- photo-selection -->
        <div id="video-preview-container">
            <video id="video-preview"></video>
            <canvas width="640" height="800" id="takePhotoCanvas"></canvas>
            <div id="take-photo-btn" class="buttons">
                <button class="enrol" id="capture-photo-btn" onclick="takePhoto()">Capturar</button>
                <button class="enrol" id="repeat-photo-btn" onclick="takeAnother()">Repetir</button>
            </div>
            <div id="submit-base64-btn" class="buttons">
                <button type="button" onclick="submitBase64Photo()" class="enroled">CONTINUAR
                    <div id="base64-photo-spinner" class="spinner-border text-primary" role="status">
                    </div>
                </button>
            </div>
            
            <img src="" alt="" id="img-preview">
        </div> <!-- video-preview-container -->
    </div> <!-- photo-container -->
    <div id="upload-success">
        <div class="upload-content">
            <div class="upload-msg">
                <h1>¡FELICITACIONES!</h1>
            <h2>Te has enrolado exitosamente.</h2>
            </div>
            <img id="final-image" alt="">
            <div id="select-photo-btn" class="buttons">
                <button onclick="toEnrolHome()" class="enrol">FINALIZAR</button>
                <button onclick="repeatPhoto()" class="enroled">REPETIR FOTO</button>
            </div><!-- .buttons-->
        </div>
    </div>
    <div id="finish-screen">
        <div class="finish-content">
            <div class="finish-msg">
                <h1>¡FELICITACIONES!</h1>
                <h2>Te has enrolado exitosamente.</h2>
            </div>
            <div id="select-photo-btn" class="buttons">
                <button onclick="toEnrolHome()" class="enrol">FINALIZAR</button>
            </div><!-- .buttons-->
        </div>
    </div>
</body>

@* <body onLoad="JustificaTextoLargo();">
    <div class="form-container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <!-- Encabezado de página con imagen, el texto se toma de la tabla TextosEnrol -->
                <section id="Encabezado">
                    <div id="contenido">
                        <img class="imagenindex" src="~/img/LogoEcopetrolCuidemonos.jpg" align="middle" alt="Cuidemonos">
                        @foreach (dynamic texto in ViewBag.TextoTitulo)
                        {
                            <h1 id="LetrasTituloEncabezado" align="center">@texto.Pregunta</h1>
                            <p id="LetrasEncabezado"><font size="4">@texto.Texto</font></p>}
                    </div>
                </section>

                <!-- Variable usada para tomar el nombre del usuario logueado, se almacena en los metadatos -->
                @if (true)
                {
                    <!--string userName = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name).Value;-->
                    string userName = "Usuario01";
                    <label id="NombreUsuario" style="display:none">@userName</label>
                }
                <br />
                <div id="botonguardar">
                    <form autocomplete="off" enctype="multipart/form-data" id="formverifica" method="post">
                        <!-- Tabla creada para alinear los datos solicitados al usuario -->
                        <table style="width: 100%">
                            <colgroup>
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 80%;">
                            </colgroup>
                            <!-- Put <thead>, <tbody>, and <tr>'s here! -->
                            <tbody>
                                <tr>
                                    <td><b><font size="4">Número carné Ecopetrol :</font></b></td>
                                    <td><input autocomplete="off" style="width:50%;" required type="number" title="Número de carné de Ecopetrol" data-toggle="tooltip" data-placement="right" name="Badge_id" id="Badge_id" /></td>
                                </tr>
                                <tr>
                                    <td><b><font size="4">Nombres :</font></b></td>
                                    <td><input autocomplete="off" style="width:50%;" required title="Nombres completos" data-toggle="tooltip" data-placement="right" name="Firstname" id="Firstname" /></td>
                                </tr>
                                <tr>
                                    <td><b><font size="4">Apellidos :</font></b></td>
                                    <td><input autocomplete="off" style="width:50%;" required title="Apellidos completos" data-toggle="tooltip" data-placement="right" name="LastName" id="LastName" /></td>
                                </tr>
                                <!-- Lista desplegable con los tipos de documento tomados de la tabla Tipos_Doc -->
                                <tr>
                                    <td><b><font size="4"> Tipo documento :</font></b></td>
                                    <td>
                                        <select required name="tipdoc" id="tipdoc">
                                            <option value="" data-token=""> Tipo Documento </option>
                                            <div class="dropdown-menu" role="menu">
                                                @foreach (dynamic Tipodoc in ViewBag.tiposdoc)
                                                {
                                                    <option value="@Tipodoc.codigo">@Tipodoc.descripcion</option>
                                                }
                                            </div>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b><font size="4">Documento :</font></b></td>
                                    <td><input autocomplete="off" style="width:50%;" required type="number" title="Número de documento de identidad" data-toggle="tooltip" data-placement="right" name="Documento" id="Documento" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <div>
                            @foreach (dynamic texto in ViewBag.TextoValidacion)
                            {
                                <h5>@texto.Pregunta</h5>
                                <p align="justify">
                                    <h5 style="color:red" align="left"><font size="3"> Ver. @texto.Version</font></h5>
                                    <font size="4"> @texto.Texto</font>
                                </p>

                                <p id="textoLargo"></p>
                                <p>
                                    <input required type="radio" name=@texto.Tipo value="Si"> Si acepto
                                    <input required type="radio" name=@texto.Tipo value="No"> No acepto

                                    <br />
                                    <br />
                                </p>
                            }
                        </div>

                        <br />


                        <input type="submit" value="Guardar datos" class="btn btn-block btn-primary" />



                    </form>
                </div>


                <br />
                <br />

                <div id="confirmarDatos">

                    <form autocomplete="off" enctype="multipart/form-data" id="formuploadenrol" method="post">

                        <div id="resumenDatos">

                            <table style="width: 100%" border="1">
                                <colgroup>
                                    <col span="1" style="width: 50%;">
                                    <col span="1" style="width: 50%;">
                                </colgroup>



                                <!-- Put <thead>, <tbody>, and <tr>'s here! -->
                                <tbody>
                                    <tr>
                                        <td align="right"><b><label> Número carné Ecopetrol :</label></b></td>
                                        <td><label id="badgeid"></label></td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b><label> Nombre :</label></b></td>
                                        <td><label id="firstname"></label></td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b><label>Apellidos :</label></b></td>
                                        <td><label id="lastname"></label></td>
                                    </tr>

                                    <tr>
                                        <td align="right"><b><label>Tipo documento :</label></b></td>
                                        <td><label id="tipodoc"></label></td>
                                    </tr>

                                    <tr>
                                        <td align="right"><b><label>Documento :</label></b></td>
                                        <td><label id="documento"></label></td>
                                    </tr>


                                    @foreach (dynamic texto in ViewBag.TextoValidacion)
                                    {
                                        <tr>
                                            <td align="right">
                                                <b><label>@texto.Pregunta</label></b>
                                            </td>
                                            <td>
                                                <label id=@texto.Tipo> </label>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>



                        </div>

                        <div id="btnConfirmar" class="wrapper">

                            <input class="btn btn-secondary" style="width:50%" type="submit" value="Confirmar datos" />
                        </div>
                    </form>

                    <div id="btnCancelar" class="wrapper">

                        <form autocomplete="off" enctype="multipart/form-data" id="formCancela" method="post">

                            <input class="btn btn-warning" style="width:50%" type="submit" value="Revisar datos" />
                        </form>

                    </div>
                </div>

                <div id="divifoto">


                    <p style="font-size:15px">
                        <br /><b>
                            Con el ánimo que pueda ingresar a través de mecanismo de reconocimiento facial y control térmico digital y sin contacto con nadie, por favor carga aquí la foto con las siguientes características:
                            Nombrar la foto con su numero de registro o cédula.
                        </b>
                    </p>

                    <p>
                        <font size="4">
                            1.     En formato vertical, con buena iluminación, sin sombras ni flash activo<br />
                            2.	A color con la máxima configuración de calidad de la cámara y sin retoques<br />
                            3.	Fondo blanco sin objetos de fondo<br />
                            4.	Mirar la cámara con los ojos abiertos sin accesorios (gorra, bufandas, gafas oscuras o reflectivas)<br />
                            5.      No debe ser mayor a 1 año, si no tiene una disponible es muy fácil ubíquese en una pared blanca y pídale el favor a un familiar que se la tome teniendo en cuenta las recomendaciones del 1 al 4, en caso de que no tenga quien le tome la foto hágalo tipo selfie.<br />
                            6.     El archivo no debe ser superior a 10MB ni inferior a 500KB.
                        </font>
                    </p>

                    <form enctype="multipart/form-data" id="formuploadajax" method="post">
                        <div>
                            <label for="image1">Foto</label>
                            <input name="file" id="file" type="file" />
                            <p>
                                <font size="4">
                                    Límite de número de archivos:1&nbsp;Límite de tamaño del archivo individual: 10MB&nbsp;Tipos de archivo permitidos: Imagen,Vídeo
                                </font>
                            </p>


                            <div id="preview" class="img">

                            </div>

                            <br />

                            <div id="btnImg">

                                <input class="btn btn-info" style="width:50%" type="submit" value="Validar foto" />
                                <!--<input type="button" onclick="Upload($('#UploadFile'));" />-->
                            </div>

                        </div>
                    </form>


                    <div id="imgProc">
                        <form id="formTermina" method="post">
                            <br />

                            <h5><b>Imagen procesada</b></h5>
                            <img width="214" height="267" id="imgproc" src="" alt="Imagen procesada" />
                            <br />
                            <p><b><font size="4">Imagen validada. Sus datos han sido registrados.</font></b></p>
                            <input class="btn btn-info" style="width:50%" type="submit" id="UploadFile" value="Click para Terminar" />

                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body> *@

<script>
    var baseApiSsl = "@ViewBag.baseUrlSsl";
    var baseApi = "@ViewBag.baseUrl";
    localStorage.removeItem('firstName');
    var apiKey = "@ViewBag.token";
    var divfoto = document.getElementById("divifoto");
    var divconfirmar = document.getElementById("confirmarDatos");
    var divbotonguardar = document.getElementById("botonguardar");
    var divconfirmarDatos = document.getElementById("confirmarDatos");
    var divbtnConfirmar = document.getElementById("btnConfirmar");
    var divbtnCancelar = document.getElementById("btnCancelar");
    var divimgProc = document.getElementById("imgProc");
    var divbtnImg = document.getElementById("btnImg");
    var fileId = 'file';
    var terms = [];
    var base64file;



    // initial container
    var initialContainer = document.getElementById('initial-container');
    // step 1 container
    var step1 = document.getElementById('step-1');
    // Enrol form
    var enrolForm = document.getElementById('enrol-form');
    // Termos
    var termsContainer = document.getElementById('terms-container');
    // infographic
    var infographicContainer = document.getElementById('infographics-container');
    // Container photo
    var photoContainer = document.getElementById('photo-container');
   // divfoto.style.display = "none";
   // divconfirmar.style.display = "none";
   // divimgProc.style.display = "none";
    var result = [];
    var imageCapture;

    /**
    * Repite foto tomada desde el ordenador
    */
    function takeAnother() {
        document.getElementById('video-preview').style.display = 'flex';
        document.getElementById('takePhotoCanvas').style.display = 'none';
        document.getElementById('capture-photo-btn').style.display = 'flex';
        document.getElementById('repeat-photo-btn').style.display = 'none';
        document.getElementById('submit-base64-btn').style.display = 'none';
    }
    /*
    * Tomar foto
    */
    function takePhoto(){
        document.getElementById('video-preview').style.display = 'none';
        document.getElementById('capture-photo-btn').style.display = 'none';
        document.getElementById('repeat-photo-btn').style.display = 'flex';
        document.getElementById('submit-base64-btn').style.display = 'flex';
        document.getElementById('takePhotoCanvas').style.display = 'flex';
        imageCapture.takePhoto()
        .then(blob => createImageBitmap(blob))
        .then(imageBitmap => {
            const canvas = document.querySelector('#takePhotoCanvas');
            drawCanvas(canvas, imageBitmap);
        })
        .catch(error => console.log(error));
    }
    /**
    * Dibuja vista previa de foto en canvas
    */
    function drawCanvas(canvas, img) {
        canvas.width = getComputedStyle(canvas).width.split('px')[0];
        canvas.height = getComputedStyle(canvas).height.split('px')[0];
        var ratio = Math.min(canvas.width / img.width, canvas.height / img.height);
        var x = (canvas.width - img.width * ratio) / 2;
        var y = (canvas.height - img.height * ratio) / 2;
        canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
        canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height,
            x, y, img.width * ratio, img.height * ratio);
        base64file = canvas.toDataURL("image/jpeg");
        console.log(canvas.toDataURL("image/jpeg"));
  }

    /**
    * Accede a camara del equipo para tomar foto
    */
    function toggleCam() {
        $('#photo-error').html('');
        $('#photo-error').css('visibility', 'hidden');
        var video = document.getElementById('video-preview');
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({video: {
                width: { min: 640, max: 640 },
                height: { min: 800, max: 800},
            } })
            .then(stream => {
                console.log(stream);
                video.srcObject = stream;
                document.getElementById('video-preview-container').style.display = 'flex';
                video.play();
                var track = stream.getVideoTracks()[0];
                imageCapture = new ImageCapture(track);
             }).catch(function(err) {
                console.log(err);
                });
        } else {
            $('#photo-error').html('');
            var statusContent = `<span class="error-msg">Error conectando a la cámara.</span>`;
            $('#photo-error').append(statusContent);
            $('#photo-error').css('visibility', 'visible');
        }
    }

    /**
    * Muestra nuevamente formulario para toma de foto
    */
    function repeatPhoto() {
        document.getElementById('upload-photo-btn').style.display = 'none';
        document.getElementById('upload-success').style.display = 'none';
        document.getElementById('select-photo-btn').style.display = 'flex';
        document.getElementById("photo-container").style.display = 'flex';
    }

    function submitBase64Photo() {
        $('#photo-error').html('');
        $('#photo-error').css('visibility', 'visible');
        $("#base64-photo-spinner").show();
        var formData = {
            "img": base64file
        };
       
        var imagen = "";
        console.log(formData);
        $.ajax({
            url: `${baseApi}base64`,
            type: "POST",
            method: 'POST',
            dataType: 'json',
            data: JSON.stringify(formData),
            cache: false,
            contentType: 'application/json'
        }).done(function (res) {
            $("#base64-photo-spinner").hide();
            console.log(res);
            if (res.status == "aprobado") {
                $('#photo-error').html('');
                $('#photo-error').css('visibility', 'visible');
                imagen = res.image;
                var base64 = "data:image/png;base64," + res.image;
                console.log(base64);
                document.getElementById('upload-success').style.display = 'flex';
                document.getElementById('photo-container').style.display = 'none';
                $("#final-image").attr("src", base64);
                var hoy = new Date();
                var fecha = hoy.getFullYear() + '-' + (hoy.getMonth() + 1) + '-' + hoy.getDate();
                var hora = hoy.getHours() + ':' + hoy.getMinutes() + ':' + hoy.getSeconds()
                var ipvar = "";
                ipvar = "@ViewBag.varIP";
                var userName = ""
                @* userName = document.getElementById("NombreUsuario").textContent; *@
                console.log(imagen);
                var terminos = true;
                var e = document.getElementById("tipdoc");
                var strUser = e.value;
                var configuracion = {
                    badgeId: $('#Badge_id').val().trim(),
                    lastName: $('#LastName').val().trim(),
                    firstName: $('#Firstname').val().trim(),
                    documento: $('#Documento').val().trim(),
                    tipoDocumento: strUser,
                    aceptaTerminos: terminos,
                    empresa: "",
                    regional: 0,
                    instalacion: 0,
                    ciudad: "",
                    ssno: "",
                    idStatus: "",
                    status: "",
                    origen: "web",
                    metadatos: "{\"Fecha\":\"" + fecha + "\",\"Hora\":\"" + hora + ",\"Usuario_activo\":\"" + userName + ",\"app_version\":\"0.0.1\",\"ip\":\"" + ipvar + "\"}",
                    image: imagen
                };
                    $.ajax({
                        url: `${baseApiSsl}api/enrol/create_enrol?apiKey=${apiKey}`,
                        type: "POST",
                        method: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(configuracion),
                        cache: false,
                        contentType: 'application/json'
                    })
                        .done(function (res) {
                            $("#mensaje").html("Respuesta: " + res);
                            console.log(res);
                        })
                        .fail(function () {
                            console.log("Error actualizando datos");
                        });

                    //divimgProc.style.display = "block";
                    //divbtnImg.style.display = "none";
                    //alert("Foto almacenada");
                } else {
                    const reasons = res.motivos.toString();
                    $('#photo-error').html('');
                    var statusContent = `<span class="error-msg">${reasons}</span>`;
                    $('#photo-error').append(statusContent);
                    $('#photo-error').css('visibility', 'visible');
                    console.log("Foto no cumple");
                    document.getElementById('upload-photo-btn').style.display = 'none';
                    document.getElementById('select-photo-btn').style.display = 'flex';
                };
            })
            .fail(function () {
                $("#base64-photo-spinner").hide();
                alert("Foto no cumple con los requisitos");
            });
        
    }
    function submitPhoto() {
        $("#photo-spinner").show();
        $("#formuploadajax").on("submit", function (e) {
        e.preventDefault();
        var formData = new FormData();
        formData.append('file', $(`#${fileId}`)[0].files[0]);
        var imagen = "";
        console.log(formData);

        $.ajax({
            url: `${baseUrlSsl}/api/img`,
            type: "POST",
            method: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        }).done(function (res) {
            $("#photo-spinner").hide();
            console.log(res);
            if (res.status == "aprobado") {
                imagen = res.image;
                var base64 = "data:image/png;base64," + res.image;
                console.log(base64);
                document.getElementById('upload-success').style.display = 'flex';
                document.getElementById('photo-container').style.display = 'none';
                $("#final-image").attr("src", base64);
                var hoy = new Date();
                var fecha = hoy.getFullYear() + '-' + (hoy.getMonth() + 1) + '-' + hoy.getDate();
                var hora = hoy.getHours() + ':' + hoy.getMinutes() + ':' + hoy.getSeconds()
                var ipvar = "";
                ipvar = "@ViewBag.varIP";
                var userName = ""
                @* userName = document.getElementById("NombreUsuario").textContent; *@
                console.log(imagen);
                var terminos = true;
                var e = document.getElementById("tipdoc");
                var strUser = e.value;
                var configuracion = {
                    badgeId: $('#Badge_id').val().trim(),
                    lastName: $('#LastName').val().trim(),
                    firstName: $('#Firstname').val().trim(),
                    documento: $('#Documento').val().trim(),
                    tipoDocumento: strUser,
                    aceptaTerminos: terminos,
                    empresa: "",
                    regional: 0,
                    instalacion: 0,
                    ciudad: "",
                    ssno: "",
                    idStatus: "",
                    status: "",
                    origen: "web",
                    metadatos: "{\"Fecha\":\"" + fecha + "\",\"Hora\":\"" + hora + ",\"Usuario_activo\":\"" + userName + ",\"app_version\":\"0.0.1\",\"ip\":\"" + ipvar + "\"}",
                    image: imagen
                };
                    $.ajax({
                        url: `${baseUrlSsl}api/enrol/create_enrol?apiKey=${apiKey}`,
                        type: "POST",
                        method: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(configuracion),
                        cache: false,
                        contentType: 'application/json'
                    })
                        .done(function (res) {
                            $("#mensaje").html("Respuesta: " + res);
                            console.log(res);
                        })
                        .fail(function () {
                            console.log("Error actualizando datos");
                        });

                    //divimgProc.style.display = "block";
                    //divbtnImg.style.display = "none";
                    //alert("Foto almacenada");
                } else {
                    const reasons = res.motivos.toString();
                    $('#photo-error').html('');
                    var statusContent = `<span class="error-msg">${reasons}</span>`;
                    $('#photo-error').append(statusContent);
                    $('#photo-error').css('visibility', 'visible');
                    console.log("Foto no cumple");
                    document.getElementById('upload-photo-btn').style.display = 'none';
                    document.getElementById('select-photo-btn').style.display = 'flex';
                };
            })
            .fail(function () {
                $("#photo-spinner").hide();
                alert("Foto no cumple con los requisitos");
            });
        });
        var f = $("#formuploadajax");
        f.submit();
    }
    /**
    * Seleccionar foto
    */
    function selectFile(id) {
        document.getElementById('video-preview-container').style.display = 'none';
        $('#photo-error').html('');
        $('#photo-error').css('visibility', 'hidden');
        fileId = id;
        var input = document.getElementById(id);
        input.onchange = function (e) {
            console.log('file loaded');
            let reader = new FileReader();

            reader.onload = function () {
                let preview = document.getElementById('preview'),
                image = document.createElement('img');
                image.src = reader.result;
                preview.innerHTML = '';
                preview.append(image);
                preview.style.display = 'flex';
                document.getElementById('upload-photo-btn').style.display = 'flex';
                
                document.getElementById('select-photo-btn').style.display = 'none';
            };
            reader.readAsDataURL(e.target.files[0]);
        }
        input.click();
        
    }
    /**
    * Muestra el formulario de enrolamiento 
    */
    function showEnrolForm() {
        step1.style.display = 'none';
        enrolForm.style.display = 'flex';
    }
    /**
    * Muestra terminos
    */
    function showTerms() {
        var firstName = $('#Firstname').val().trim();
        if (!firstName) {
            $('#Firstname').focus();
            return;
        }
        var lastName = $('#LastName').val().trim();
        if (!lastName) {
            $('#LastName').focus();
            return;
        }
        var e = document.getElementById("tipdoc");
        var strUser = e.value;
        var badgeId = $('#Badge_id').val().trim();
        
        var documento = $('#Documento').val().trim();
        var tipoDocumento = strUser
        
        document.getElementById('continue-submit').style.display = 'flex';
        enrolForm.style.display = 'none';
        termsContainer.style.display = 'flex';
        var textTypes = document.getElementsByClassName('text-type');
        for (const tp of textTypes) {
            tp.click();
        }
    }

    /**
    * Crea objeto con valores de politicas aceptadas
    */
    function acceptTerms(version, type, accept) {
        // Valida si la version del texto ya se encuentra en el array 'terms'
        var exists = terms.findIndex( x => x.versionTexto == version);
        // Si la encuentra, la eliminar en por el index
        if (exists >= 0) {
            terms.splice(exists, 1);
        }
        // Crea objeto terminos
        var userTerms = {
            tipoTexto: type,
            versionTexto: version,
            aceptaTexto: accept
        };
        // Agrega en el array
        terms.push(userTerms);
        
    }

      /**
    * Muestra infografia
    */
    function showInfographic() {
        var firstName = $('#Firstname').val().trim();
        localStorage.setItem('firstName', firstName);
        $("#enrol-spinner").show();
        $("#formuploadenrol").on("submit", function (e) {
        e.preventDefault();
        var x = true;
        var terminos = true;
        //Validaciones
        if ($('input:radio[name=2]:checked').val() != "Si" || $('input:radio[name=3]:checked').val() != "Si" || $('input:radio[name=4]:checked').val() != "Si") {
            console.log("Registramos su decisión, muchas gracias.");
            terminos = false;
        } else {
            console.log("Datos registrados.");
            //divbtnConfirmar.style.display = "none";
            //divbtnCancelar.style.display = "none";
            // divfoto.style.display = "block";
        }
        if (x) {
            var hoy = new Date();
            var fecha = hoy.getFullYear() + '-' + (hoy.getMonth() + 1) + '-' + hoy.getDate();
            var hora = hoy.getHours() + ':' + hoy.getMinutes() + ':' + hoy.getSeconds()
            var ipvar = "";
            ipvar = "@ViewBag.varIP";
            var userName = ""
           // userName = document.getElementById("NombreUsuario").textContent;
            var e = document.getElementById("tipdoc");
            var strUser = e.value;
            var configuracion = {
                badgeId: $('#Badge_id').val().trim(),
                lastName: $('#LastName').val().trim(),
                firstName: $('#Firstname').val().trim(),
                documento: $('#Documento').val().trim(),
                tipoDocumento: strUser,
                aceptaTerminos: terminos,
                empresa: "",
                regional: 0,
                instalacion: 0,
                ciudad: "",
                ssno: "",
                idStatus: "",
                status: "",
                origen: "web",
                metadatos: "{\"Fecha\":\"" + fecha + "\",\"Hora\":\"" + hora + ",\"Usuario_activo\":\"" + userName + ",\"app_version\":\"0.0.1\",\"ip\":\"" + ipvar + "\"}",
                image: ""
            };
        console.log(configuracion);
        $.ajax({
            url: `${baseUrlSsl}api/enrol/create_enrol?apiKey=${apiKey}`,
            type: "POST",
            method: 'POST',
            dataType: 'json',
            data: JSON.stringify(configuracion),
            cache: false,
            contentType: 'application/json'
        })
            .done(function (res) {
                termsContainer.style.display = 'none';
                $("#enrol-spinner").hide();

                if (terminos == false) {
                    document.getElementById('finish-screen').style.display = 'flex';
                    initialContainer.style.display = 'none';
                } else {
                    initialContainer.style.display = 'none';
                    infographicContainer.style.display = 'flex';
                }
            })
            .fail(function () {
                console.log("Error actualizando datos");
            });
    }

    }); 

       var f = $("#formuploadenrol");
       f.submit();
    }

    /**
    * Ocultar y valida terminos
    */
    function hideTerms() {
        @* enrolForm.style.display = 'flex'; *@
        showInfographic();
    }
  

    /*
    * Cerrar sesion
    */
    function logout() {
        window.location.href = "/Account/Logout";
    }
    /*
    * Cerrar sesion
    */
    function toEnrolHome() {
        window.location.href = `/EnrolHome?apiKey=${apiKey}`;
    }
    /**
    * Muestra seleccion de foto
    */
    function showPhotoContainer() {
       photoContainer.style.display = 'flex';
       infographicContainer.style.display = 'none';
    }
    function JustificaTextoLargo() {

        var i = 0;
        var len = cars.length;
        for (; i < len;) {
            text += cars[i] + "<br>";
            i++;
        }

        ipvar = "@ViewBag.varIP";

        document.getElementById("textoLargo").innerHTML = "Paragraph changed.";

    };


    function getval(val) {
        //alert(val);
        //window.location.href = "/Enrol/refreshInstal?id=" + val;

        fetch("@Url.Content("~/Enrol/GetPersonDetails")" + "?Id=" + val)
        .then(function (result) {
            if (result.ok) {
                return result.json();

            }
        })
            .then(function (data) {
                console.log(data);
                cbo = document.getElementById("instalacion");
                cbo.innerHTML = "";
                data.forEach(function (element) {
                    let opt = document.createElement("option");
                    opt.appendChild(document.createTextNode(element.descripcion));
                    opt.value = element.codigo;
                    cbo.appendChild(opt);
                });
            })
    }

    $("instalacion1").change(function () {

        console.log("prueba");

               var  value = $("#Id").val();
               //$.get(URL,data,function(data,status,xhr),dataType)
               $.ajax({
            url: url2,
            type: 'POST',
            data: {
                Content: contentFull
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                CustomAlert.render(XMLHttpRequest);
                CustomAlert.render(textStatus);
                CustomAlert.render(errorThrown);
                CustomAlert.render("Error while posting SendResult");
            },
            success: function (result) {CustomAlert.render("Yey?");
            }

        });
            });

            $('#registrar').on('click', myFunction);

            function myFunction() {

                alert('hello');
                //console.log("Registrando");

                //document.getElementById("demo").innerHTML = "Hello Dear Visitor!</br> We are happy that you've chosen our website to learn programming languages. We're sure you'll become one of the best programmers in your country. Good luck to you!";
                //console.log("Registrando");

            };


    $(function () {

        $("#formTermina").on("submit", function (e) {

            e.preventDefault();

            console.log('termina');
            window.location.href = "/Account/Logout";

        });

            $("#formCancela").on("submit", function (e) {

                e.preventDefault();


                divconfirmar.style.display = "none";
                divbotonguardar.style.display = "block";

            });

                $("#formverifica").on("submit", function (e) {

                    e.preventDefault();

                    document.getElementById("badgeid").innerHTML = $('#Badge_id').val().trim();
                    document.getElementById("firstname").innerHTML = $('#Firstname').val().trim();
                    document.getElementById("lastname").innerHTML = $('#LastName').val().trim();

                    var e = document.getElementById("tipdoc");
                    var strUser = e.options[e.selectedIndex].text;

                    document.getElementById("tipodoc").innerHTML = strUser;
                    document.getElementById("documento").innerHTML = $('#Documento').val().trim();

                    document.getElementById("2").innerHTML = $('input:radio[name=2]:checked').val();
                    document.getElementById("3").innerHTML = $('input:radio[name=3]:checked').val();
                    document.getElementById("4").innerHTML = $('input:radio[name=4]:checked').val();

                    divconfirmar.style.display = "block";
                    divbotonguardar.style.display = "none";

                });
                @* $("#formuploadenrol").on("submit", function (e) {

                    e.preventDefault();




                    var x = true;
                    var terminos = true;

                    //Validaciones

                    if ($('input:radio[name=2]:checked').val() == "No" || $('input:radio[name=3]:checked').val() == "No" || $('input:radio[name=4]:checked').val() == "No") {
                        alert("Registramos su decisión, muchas gracias.");
                        terminos = false;
                    } else {
                        alert("Datos registrados.");
                        divbtnConfirmar.style.display = "none";
                        divbtnCancelar.style.display = "none";
                        divfoto.style.display = "block";
                    }




                    if (x) {



                        var hoy = new Date();
                        var fecha = hoy.getFullYear() + '-' + (hoy.getMonth() + 1) + '-' + hoy.getDate();

                        var hora = hoy.getHours() + ':' + hoy.getMinutes() + ':' + hoy.getSeconds()

                        var ipvar = "";


                        ipvar = "@ViewBag.varIP";

                        var userName = ""

                        userName = document.getElementById("NombreUsuario").textContent;


                        var e = document.getElementById("tipdoc");
                        var strUser = e.value;

                        var configuracion = {
                            badgeId: $('#Badge_id').val().trim(),
                            lastName: $('#LastName').val().trim(),
                            firstName: $('#Firstname').val().trim(),
                            documento: $('#Documento').val().trim(),
                            tipoDocumento: strUser,
                            aceptaTerminos: terminos,
                            empresa: "",
                            regional: 0,
                            instalacion: 0,
                            ciudad: "",
                            ssno: "",
                            idStatus: "",
                            status: "",
                            origen: "web",
                            metadatos: "{\"Fecha\":\"" + fecha + "\",\"Hora\":\"" + hora + ",\"Usuario_activo\":\"" + userName + ",\"app_version\":\"0.0.1\",\"ip\":\"" + ipvar + "\"}",
                            image: ""
                        };

                        console.log(configuracion);

                        $.ajax({
                            url: `https://bio01.qaingenieros.com/api/enrol/create_enrol?apiKey=${apiKey}`,
                            type: "POST",
                            method: 'POST',
                            dataType: 'json',
                            data: JSON.stringify(configuracion),
                            cache: false,
                            contentType: 'application/json'

                        })

                            .done(function (res) {
                                $("#mensaje").html("Respuesta: " + res);

                                console.log(res);

                                if (terminos == false) {
                                    console.log('logout')
                                    window.location.href = "/Account/Logout";
                                };

                            })
                            .fail(function () {
                                console.log("Error actualizando datos");

                            });
                    }


                }); *@

                $("#formuploadajax2").on("submit", function (e) {
                    e.preventDefault();
                    var f = $(this);
                    //var formData = new FormData(document.getElementById("formuploadajax"));
                    //formData.append("file", $(this)[1].files[0]);

                    //var formData = new FormData(document.getElementById("formuploadajax"));
                    var formData = new FormData(this);
                    //formData.append("file", file);

                    //var data = new FormData();
                    //jQuery.each(jQuery('#file')[0].files, function (i, file) {
                    //    data.append('file-' + i, file);
                    //});

                    console.log("Enviando imagen01");
                    console.log(formData);
                    //formData.append(f.attr("name"), $(this)[0].files[0]);
                    var imagen = "";

                    $.ajax({
                        url: "https://bio01.qaingenieros.com/api/img",

                        type: "POST",

                        method: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false
                    })
                        .done(function (res) {
                            $("#mensaje").html("Respuesta: " + res);

                            console.log(res.status);

                            if (res.status == "aprobado") {


                                imagen = res.image;
                                var base64 = "data:image/png;base64," + res.image;
                                console.log(base64);
                                $("#imgproc").attr("src", base64);

                                var hoy = new Date();
                                var fecha = hoy.getFullYear() + '-' + (hoy.getMonth() + 1) + '-' + hoy.getDate();

                                var hora = hoy.getHours() + ':' + hoy.getMinutes() + ':' + hoy.getSeconds()

                                var ipvar = "";

                                ipvar = "@ViewBag.varIP";

                                var userName = ""

                                userName = document.getElementById("NombreUsuario").textContent;

                                console.log(imagen);
                                var terminos = true;

                                var e = document.getElementById("tipdoc");
                                var strUser = e.value;

                                var configuracion = {
                                    badgeId: $('#Badge_id').val().trim(),
                                    lastName: $('#LastName').val().trim(),
                                    firstName: $('#Firstname').val().trim(),
                                    documento: $('#Documento').val().trim(),
                                    tipoDocumento: strUser,
                                    aceptaTerminos: terminos,
                                    empresa: "",
                                    regional: 0,
                                    instalacion: 0,
                                    ciudad: "",
                                    ssno: "",
                                    idStatus: "",
                                    status: "",
                                    origen: "web",
                                    metadatos: "{\"Fecha\":\"" + fecha + "\",\"Hora\":\"" + hora + ",\"Usuario_activo\":\"" + userName + ",\"app_version\":\"0.0.1\",\"ip\":\"" + ipvar + "\"}",
                                    image: imagen
                                };



                                $.ajax({
                                    url: `https://bio01.qaingenieros.com/api/enrol/create_enrol?apiKey=${apiKey}`,

                                    type: "POST",

                                    method: 'POST',
                                    dataType: 'json',
                                    data: JSON.stringify(configuracion),
                                    cache: false,
                                    contentType: 'application/json'

                                })

                                    .done(function (res) {
                                        $("#mensaje").html("Respuesta: " + res);

                                        console.log(res);


                                    })
                                    .fail(function () {
                                        console.log("Error actualizando datos");
                                    });

                                divimgProc.style.display = "block";
                                divbtnImg.style.display = "none";


                                //alert("Foto almacenada");



                            } else {

                                console.log("Foto no cumple");

                                alert("Foto no cumple con los requisitos");
                            };
                        })
                        .fail(function () {
                            alert("Foto no cumple con los requisitos");
                        });


                    });




            });

            $("#form1").submit(function () {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("https://bio01.qaingenieros.com/api/img", "Device")',
                    dataType: "json",
                    data:{
                        topic: "SubscribeTest",
                        msg: jsonMsg
                    },
                    async: false,
                    success: function(data) {
                        var jsonPretty = "<pre>" + jsonMsg + "</pre>";
                        $('#mqtt_send').html(
                            jsonPretty
                        )
                    },
                    error: function() {
                        console.log("Error adding new user");
                    }
                });

                var jqxhr = $.post('api/updates/complex', $('#form1').serialize())
                    .success(function () {
                        var loc = jqxhr.getResponseHeader('Location');
                        var a = $('<a/>', { href: loc, text: loc });
                        $('#message').html(a);
                    })
                    .error(function () {
                        $('#message').html("Error posting the update.");
                    });
                return false;
            });


        document.getElementById("file").onchange = function (e) {
            console.log('file loaded');
        let reader = new FileReader();

        reader.onload = function () {
            let preview = document.getElementById('preview'),
                image = document.createElement('img');

            image.src = reader.result;

            preview.innerHTML = '';
            preview.append(image);
        };

        reader.readAsDataURL(e.target.files[0]);
    }




    function ValidaDatos() {

        document.getElementById("badgeid").innerHTML = $('#Badge_id').val().trim();
        document.getElementById("firstname").innerHTML = $('#Firstname').val().trim();
        document.getElementById("lastname").innerHTML = $('#LastName').val().trim();
        var e = document.getElementById("tipdoc");
        var strUser = e.value;
        document.getElementById("tipodoc").innerHTML = strUser;
        document.getElementById("documento").innerHTML = $('#Documento').val().trim();


    }

    async function getIpClient() {
        try {
            const response = await axios.get('https://ipinfo.io/json');
            console.log(response);
        } catch (error) {
            console.error(error);
        }
    }


    function getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
        //compatibility for firefox and chrome
        var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
        var pc = new myPeerConnection({
            iceServers: []
        }),
            noop = function () { },
            localIPs = {},
            ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
            key;

        function iterateIP(ip) {
            if (!localIPs[ip]) onNewIP(ip);
            localIPs[ip] = true;
        }

        //create a bogus data channel
        pc.createDataChannel("");

        // create offer and set local description
        pc.createOffer(function (sdp) {
            sdp.sdp.split('\n').forEach(function (line) {
                if (line.indexOf('candidate') < 0) return;
                line.match(ipRegex).forEach(iterateIP);
            });

            pc.setLocalDescription(sdp, noop, noop);
        }, noop);

        //listen for candidate events
        pc.onicecandidate = function (ice) {
            if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
            ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
        };
    }

    // sleep time expects milliseconds
    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }



</script>

